:root {
    --violet: #733FC8;
    --grayish-blue: hsl(217, 19%, 35%);
    --blackish-blue: hsl(219, 29%, 14%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 1.3rem;
    line-height: 2rem;
    background-color: var(--Light-grayish-blue);
}

p {
    margin: 0;
}

/* Globales */
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.card-container {
    margin-top: 7rem;
}

.card {
    border-radius: 0.8rem;
    margin-bottom: 2.4rem;
    padding: 2.6rem 3.2rem 3.2rem 3.2rem;
    box-shadow: 40px 60px 50px -47px rgba(0, 0, 0, 0.24);
    position: relative;
    overflow: hidden;
}

.card1 {
    background-color: var(--violet);
    color: white;
}

.card1 img {
    border: solid #A775F1 2px;
}

.card2 {
    background-color: var(--grayish-blue);
    color: white;
}

.card3,
.card5 {
    background-color: white;
}

.card4 {
    background-color: var(--blackish-blue);
    color: white;
}

.card4 img {
    border: solid var(--violet) 2px;
}

.card-profile {
    display: flex;
    align-items: center;
    gap: 1.7rem;
    height: 2.8rem;
    margin-bottom: 1.8rem;
}

.card-profile-image img {
    width: 2.8rem;
    border-radius: 100%;
}

.verified {
    font-size: 1.1rem;
    opacity: 0.5;
}

.profile-name {
    font-size: 1.3rem;
}

.testimonial {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    z-index: 2;
    position: relative;
}

.quote {
    font-size: 1.3rem;
    opacity: 0.7;
    margin-top: 1.6rem;
    z-index: 2;
    position: relative;
}


.decorative-image {
    position: absolute;
    right: 20px;
    top: 2px;
    width: 150px;
    height: 150px;
    background-image: url('../images/bg-pattern-quotation.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    height: 10rem;
    width: 10rem;
}

@media (min-width: 1440px) {
    .card {
        margin: 0;
    }

    .card1 {
        grid-area: first;
    }

    .card2 {
        grid-area: second;
    }

    .card3 {
        grid-area: third;
    }

    .card4 {
        grid-area: fourth;
    }

    .card5 {
        grid-area: fifth;
    }

    .card-container {
    display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "first first second fifth"
            "third fourth fourth fifth";
        gap: 3rem;
    }
    .decorative-image {

        top: 2px;
        right: 80px;
        background-image: url('../images/bg-pattern-quotation.svg');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
        height: 10rem;
        width: 10rem;
    }
}
